<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/Static/favicon.ico>
    <title>backoffice</title>
    <link href=/Static/css/about.39626519.css rel=prefetch>
    <link href=/Static/js/about.e4c45bf3.js rel=prefetch>
    <link href=/Static/css/app.25306929.css rel=preload as=style>
    <link href=/Static/js/app.762e4a01.js rel=preload as=script>
    <link href=/Static/js/chunk-vendors.5dfc6cca.js rel=preload as=script>
    <link href=/Static/css/app.25306929.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=/Static/js/chunk-vendors.5dfc6cca.js></script>
<script src=/Static/js/app.762e4a01.js></script>
</body>
</html>