<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/Static/favicon.ico>
    <title>backoffice</title>
    <link href=/Static/css/about.39626519.css rel=prefetch>
    <link href=/Static/js/about.81ee1f4d.js rel=prefetch>
    <link href=/Static/css/app.e40d1127.css rel=preload as=style>
    <link href=/Static/js/app.61b83f0e.js rel=preload as=script>
    <link href=/Static/js/chunk-vendors.c68fcd22.js rel=preload as=script>
    <link href=/Static/css/app.e40d1127.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script src=/Static/js/chunk-vendors.c68fcd22.js></script>
<script src=/Static/js/app.61b83f0e.js></script>
</body>
</html>